(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("\\\\wsl.localhost\\Ubuntu\\home\\haxin\\Coding\\verilog\\learning-verilog\\uart\\uart.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "test",
                "u",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "led",
                    id: Wellen((29)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "led [5:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((8)),
                    index: None,
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: Some(1.0),
                analog: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "txData",
                    id: Wellen((37)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "txData [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "byteGood",
                    id: Wellen((25)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "byteGood",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "txCounter",
                    id: Wellen((36)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "txCounter [12:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (26): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 2,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "txDataReady",
                    id: Wellen((38)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "txDataReady",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "rxState",
                    id: Wellen((33)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rxState [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "data",
                    id: Wellen((27)),
                    index: None,
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "btn1",
                    id: Wellen((7)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "btn1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (28): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 5,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "byteReady",
                    id: Wellen((26)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "byteReady",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (31): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 1,
            )),
            (24): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 4,
            )),
            (11): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "txState",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "txState [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (23): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 0,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "uartTx",
                    id: Wellen((41)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "uartTx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (27): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 3,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "test",
                            "u",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "uartRx",
                    id: Wellen((9)),
                    index: None,
                ),
                color: Some("Green"),
                background_color: None,
                display_name: "uartRx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 32,
        viewports: [
            (
                curr_left: (0.005810319017252192),
                curr_right: (0.9442583181152789),
                target_left: (0.8228077755349619),
                target_right: (0.9175194109004773),
                move_start_left: (0.8228077755349619),
                move_start_right: (0.9175194109004773),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            153,
        ])),
        markers: {
            5: (1, [
                1367,
            ]),
            1: (1, [
                1479,
            ]),
            2: (1, [
                1351,
            ]),
            0: (1, [
                20,
            ]),
            3: (1, [
                1335,
            ]),
            4: (1, [
                164,
            ]),
        },
        focused_item: Some((15)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: (
        pixels_per_row: 16,
        square_pixels: true,
        rgb_mode: false,
        grayscale_bits: 1,
        r_bits: 3,
        g_bits: 3,
        b_bits: 2,
    ),
    wanted_timeunit: Seconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "txda",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)